body {
  text-align: center;
  background-color: #000000;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: white;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #FF5D5D;
}

.green {
  background-color: #00FFAB;
}

.blue {
  background-color: #34B3F1;
}

.yellow {
  background-color: #FFEE63;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer{
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7rem;
  margin-top: 28px;
  color: white;
}
